@model GCT.Models.Login
@{
                /**/

                /**/

                ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <style type="text/css">
        .bs-example {
            height: 320px;
        }

        .centerlook {
            padding-left: 400px;
            font-weight: bold;
            width: 1000px;
        }

        .error {
            padding-left: 400px;
            font-weight: bold;
            width: 1000px;
            color: red;
        }

        .loginbtn {
            padding-left: 500px;
        }
    </style>

    <div class="bs-example" style="border:2px solid gray;margin-top:2px;">

        <fieldset>
            <div class="form-group centerlook">
                <h2>Login</h2>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div class="form group centerlook error">
                    @ViewBag.Message
                </div>
            }
            <div class="form-group centerlook">
                &nbsp;
            </div>
            <div class="form-group centerlook">
                @Html.LabelFor(a => a.UserName)
                @Html.TextBoxFor(a => a.UserName)
                @Html.ValidationMessageFor(a => a.UserName)
            </div>
            <div class="form-group centerlook">
                @Html.LabelFor(a => a.Password)

                @Html.PasswordFor(a => a.Password)

                @Html.ValidationMessageFor(a => a.Password)
            </div>
            <div class="loginbtn">
                <input type="submit" value="Login" />
            <span>&nbsp;</span>
                <a href='@Url.Action("Cancel", "Home")'>Cancel </a>
                @*<img src='@Url.Content("~/Content/Images/MyLinkImage.png")' />*@
            </div>
        </fieldset>
    
    </div>
        }
